<%- include("partials/header") %>
<div class="row">
  <% newPet.forEach((pet)=>{ %>
    <div class="tab-col col-lg-4 col-md-6">
        <div class="card" style="width: 18rem;">
          <img src="/images/<%=pet.image%>" class="card-img-top" height="200px" alt="...">
          <div class="card-body">
            <h5 class="card-title"> <%=pet.name %> </h5>
            <p class="card-text"> Adopted:  <%= pet.adopt ? "Yes" : "No" %></p>
            <button class="btn btn-primary" <%= pet.adopt ? "disabled" : "" %> onclick='handleAdopt("<%= pet._id %>")'>Adopt</button>
          </div>
        </div>
   
</div>      
 <%  }) %>  
 
 <script>
  async function handleAdopt(id) {
  const res = await fetch('/adopt', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id: id })
  });
  const data = await res.json();
  alert(data.message);
  location.reload();
}
</script>

</div>
<%- include("partials/footer") %>